/*all pages*/
body,html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
/* index css*/
#thebody{
    background-color: rgb(64, 33, 32);
}

#header {
    color:rgb(236, 229, 229);
    background-color:rgb(48, 20, 20) ;
    width: 100%;
    height: 75px;
    margin-top: auto;
    text-align: center;
    font-size: 50px;
   }

#Shakespearephoto{
    display: block;
    height:auto;
    width: 500px;
    margin:0 auto;
    border: 10px solid rgb(48, 20, 20);
}
.shakemaintext {
    color: rgb(236, 229, 229);
    font-size: 30px ;
    width: 600px;
    margin: auto;
    text-align: center;
    border-bottom: 3px solid rgb(236, 229, 229);
    border-top: 3px solid rgb(236, 229, 229);
    margin-bottom: 30px;
    margin-top: 30px;
}

.go-button-link {
    color: rgb(236, 229, 229);
    text-decoration: none;
    display: inline-block;
  }

.go-button-link :hover{
    background-color: rgb(94, 33, 33);
}
  
  .go-button {
    background-color: rgb(48, 20, 20);
    width: 200;
    height: auto;
    margin: auto;
    font-size: 100px;
    text-align: center;
    position: absolute;
        bottom: -250px;
        right: 550px;
        margin-bottom: 50px;
  }

.sidebar {
position: absolute;
    top: 320px;
    right:20px;
    margin: 10px;
    list-style-type: none;
    
}

.sidebar li {
    text-decoration: none;
}

.sidebar li a:hover {
    background-color: rgb(94, 33, 33);
  }

.links {
    display: block;
    color:rgb(236, 229, 229);
    background-color: rgb(48, 20, 20);
    font-size: 30px;
    padding: 20px;
    border-left:solid 2px rgb(236, 229, 229);
    text-decoration: none;

}

#makermark{
    font-size: 40px;
    color: rgb(142, 51, 58);
    position: absolute;
    bottom: -500px;
    right: 450px;
    margin-bottom: 50px;
}

/*henry 5 css*/

#hen5page{
    background-color: rgb(79, 122, 184);}

#henhead{
    color: rgb(236, 229, 229);
    background-color: rgb(178, 130, 40);
    width: 100%;
    height: 75px;
    margin-top: auto;
    text-align: center;
    font-size: 50px;}

#H5{
    display: block;
    height: auto;
    width: 500px;
    margin: 0 auto;
    border: 10px solid rgb(178, 130, 40);}

.HenQhead{
    color: rgb(236, 229, 229);
    background-color: rgb(178, 130, 40);
    width: 500px;
    margin: auto;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;}

.HenQuote{
  color: rgb(236, 229, 229);
  width: 600px;
  margin: auto;
  padding: 30px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: -40px;
  border-bottom: 2px solid rgb(236, 229, 229);}

#HenQuote2{
    color: rgb(236, 229, 229);
    width: 600px;
    margin: auto;
    padding: 30px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: -40px;
    border-bottom: 2px solid rgb(236, 229, 229);}

#henbuttonlink{
    color: rgb(236, 229, 229);
    text-decoration: none;
    display: inline-block;}

#henbuttonlink :hover{
    background-color: rgb(192, 149, 69);}

#hennextbutton {
    background-color: rgb(178, 130, 40);
     width: 100;
     height: auto;
     font-size: 50px;
    text-align: center;
    padding: 15px;
     position: absolute;
        bottom: -720px;
        right: 550px;
        margin-bottom: 0px;}

.hensidebar {
    position: absolute;
    top: 230px;
    right:20px;
    margin: 10px;
    list-style-type: none;}

.hensidebar li {
    text-decoration: none;}

.henlinks{
    display: block;
    color:rgb(236, 229, 229);
    background-color: rgb(178, 130, 40);
    font-size: 30px;
    padding: 20px;
    border-left:solid 2px rgb(236, 229, 229);
    text-decoration: none;}

.hensidebar li a:hover {
    background-color: rgb(192, 149, 69);}



/*Caesar CSS*/
#caesarpage strong,#caesarpage p {color: rgb(94, 33, 33); background-color: goldenrod;}
#CAEhead {color: goldenrod; background-color: rgb(94, 33, 33);}
#CAEimg {height: auto; width:500px ;}
.CAEtitles {color: goldenrod; background-color: rgb(94, 33, 33);}
#caesarpage .home{color: goldenrod; background-color: rgb(94, 33, 33);}
/*richard3 CSS*/
#richard3page img {height: auto; width: 500px;}
#richard3page h2, #richard3page h1, #richard3page a {color: rgb(94, 33, 33); background-color: rgb(236, 229, 229);}
#richard3page p, #richard3page strong, #richard3page b {color: rgb(236, 229, 229); background-color: rgb(94, 33, 33);}
/*richard2 CSS*/
#Richard2page h1, #Richard2page h2,#Richard2page a {color: rgb(208, 208, 97); background-color: rgb(142, 51, 58) ;}
#Richard2page img {height: auto; width: 500px;}