/*all pages*/
body,html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
/* index css*/
#thebody{
    background-color: rgb(64, 33, 32);
}

#header {
    color:rgb(236, 229, 229);
    background-color:rgb(48, 20, 20) ;
    width: 100%;
    height: 75px;
    margin-top: auto;
    text-align: center;
    font-size: 50px;
   }

#Shakespearephoto{
    display: block;
    height:auto;
    width: 500px;
    margin:0 auto;
    border: 10px solid rgb(48, 20, 20);
}
.shakemaintext {
    color: rgb(236, 229, 229);
    font-size: 30px ;
    width: 600px;
    margin: auto;
    text-align: center;
    border-bottom: 3px solid rgb(236, 229, 229);
    border-top: 3px solid rgb(236, 229, 229);
    margin-bottom: 30px;
    margin-top: 30px;
}

.go-button-link {
    color: rgb(236, 229, 229);
    text-decoration: none;
    display: inline-block;
  }

.go-button-link :hover{
    background-color: rgb(94, 33, 33);
}
  
.go-button {
    background-color: rgb(48, 20, 20);
    width: 200;
    height: auto;
    margin: auto;
    font-size: 100px;
    text-align: center;
    position: absolute;
        bottom: -250px;
        right: 550px;
        margin-bottom: 50px;}

.sidebar {
position: absolute;
    top: 320px;
    right:20px;
    margin: 10px;
    list-style-type: none;}

.sidebar li {
    text-decoration: none;}

.sidebar li a:hover {
    background-color: rgb(94, 33, 33);}

.links {
    display: block;
    color:rgb(236, 229, 229);
    background-color: rgb(48, 20, 20);
    font-size: 30px;
    padding: 20px;
    border-left:solid 2px rgb(236, 229, 229);
    text-decoration: none;}

#makermark{
    font-size: 40px;
    color: rgb(142, 51, 58);
    position: absolute;
    bottom: -500px;
    right: 450px;
    margin-bottom: 50px;}

/*henry 5 css*/

#hen5page{
    background-color: rgb(79, 122, 184);}

#henhead{
    color: rgb(236, 229, 229);
    background-color: rgb(178, 130, 40);
    width: 100%;
    height: 75px;
    margin-top: auto;
    text-align: center;
    font-size: 50px;}

#H5{
    display: block;
    height: auto;
    width: 500px;
    margin: 0 auto;
    border: 10px solid rgb(178, 130, 40);}

.HenQhead{
    color: rgb(236, 229, 229);
    background-color: rgb(178, 130, 40);
    width: 500px;
    margin: auto;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;}

.HenQuote{
  color: rgb(236, 229, 229);
  width: 600px;
  margin: auto;
  padding: 30px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: -40px;
  border-bottom: 2px solid rgb(236, 229, 229);}

#HenQuote2{
    color: rgb(236, 229, 229);
    width: 600px;
    margin: auto;
    padding: 30px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: -40px;
    border-bottom: 2px solid rgb(236, 229, 229);}

#henbuttonlink{
    color: rgb(236, 229, 229);
    text-decoration: none;
    display: inline-block;}

#henbuttonlink :hover{
    background-color: rgb(192, 149, 69);}

#hennextbutton {
    background-color: rgb(178, 130, 40);
     width: 100;
     height: auto;
     font-size: 50px;
    text-align: center;
    padding: 15px;
     position: absolute;
        bottom: -720px;
        right: 550px;
        margin-bottom: 0px;}

.hensidebar {
    position: absolute;
    top: 230px;
    right:20px;
    margin: 10px;
    list-style-type: none;}

.henlinks{
    display: block;
    color:rgb(236, 229, 229);
    background-color: rgb(178, 130, 40);
    font-size: 30px;
    padding: 20px;
    border-left:solid 2px rgb(236, 229, 229);
    text-decoration: none;}

.hensidebar li a:hover {
    background-color: rgb(192, 149, 69);}

/*Caesar CSS*/

#caesarpage{
    background-color: rgb(138, 50, 50);}

#CAEhead{
background-color: rgb(178, 130, 40);
color: rgb(236, 229, 229);
width: 100%;
height: 75px;
margin-top: auto;
font-size: 50px;
text-align: center;}

#CAEimg{
 display: block;
 width: 500px;
 height: fit-content;
 margin: 0 auto;
 margin-bottom: 30px;
 border: 10px solid rgb(178, 130, 40);}

.CAEtitles{
    color: rgb(236, 229, 229);
    background-color: rgb(178, 130, 40);
    width: 600px;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    text-decoration: underline;}

.caemaintext{
    color: rgb(236, 229, 229);
    width: 600px;
    margin: auto;
    text-align: center;
    font-size: 30px;
    border-bottom: 2px solid rgb(236, 229, 229);}

#caebuttonlink{
color: rgb(236, 229, 229);
display: inline;
text-decoration: none;}

#caebuttonlink :hover{
background-color: rgb(192, 149, 69);}

#caenextbutton{
    color: rgb(236, 229, 229);
    background-color: rgb(178, 130, 40);
    width: 200px;
    height: auto;
    font-size: 50px;
    text-align: center;
    padding: 15px;
     position: absolute;
        bottom: -620px;
        right: 530px;
        margin-bottom: 0px;}

.caesidebar{
    position: absolute;
    top: 230px;
    right:20px;
    margin: 10px;
    list-style-type: none;}

.caelinks{
    display: block;
    color: rgb(236, 229, 229);
    background-color: rgb(178, 130, 40);
    font-size: 30px;
    padding: 20px;
    border-left: 2px solid rgb(236, 229, 229);
    text-decoration: none;}

.caesidebar li :hover{
    background-color: rgb(192, 149, 69);}
  
/*richard3 CSS*/

#richard3page {
    background-color: rgb(124, 30, 25);}

#richard3tophead{
    background-color: rgb(56, 20, 18);
    color: rgb(236, 229, 229);
    width: 100%;
    height: 75px;
    text-align: center;
    margin-top:auto ;
    font-size: 50px;}

#richard3img{
 display: block;
 width: 500px;
 height: fit-content;
 margin: 0 auto;
 margin-bottom: 30px;
 border: 10px solid rgb(56, 20, 18);}

.r3Qhead{
    background-color: rgb(56, 20, 18);
    color: rgb(236, 229, 229);
    text-align: center;
    font-size: 30px;
    width: 600px;
    margin: auto;
    text-decoration: underline;}

 .r3main{
    color: rgb(236, 229, 229);
    text-align: center;
    width: 500px;
    font-size: 30px;
    margin: auto;
    border-bottom: 2px solid rgb(236, 229, 229);}

#r3buttonlink{
    color: rgb(236, 229, 229);
    display: inline-block;
    text-decoration: none;}

#r3button{
    background-color: rgb(56, 20, 18);
    width: 200px;
    padding: 20px;
    text-align: center;
    font-size: 50px;
    position: absolute;
    bottom: -1100px;
    right: 530px;}

#r3buttonlink :hover{
    background-color: rgb(138, 50, 50);}

#r3sidebar{
    list-style-type: none;
    position: absolute;
    top: 230px;
    right:20px;
    margin: 10px;} 

.r3links{
    display: block;
    color: rgb(236, 229, 229);
    background-color: rgb(56, 20, 18);
    font-size: 30px;
    padding: 20px;
    border-left: 2px solid rgb(236, 229, 229);
    text-decoration: none;}

#r3sidebar li :hover{
    background-color: rgb(138, 50, 50);}
   
    /*richard2 CSS*/

#Richard2page{
    background-color: rgb(161,130,86);}

#r2tophead{
    color: rgb(236, 229, 229);
    background-color: rgb(138, 50, 50);
    width: 100%;
    height: 75px;
    margin: auto;
    margin-bottom: 30px;
    font-size: 50px;
    text-align: center;}

#r2img{
    display: block;
    width: 500px;
    border: 10px solid rgb(138, 50, 50);
    margin: auto;}

.r2qhead{
    width: 500px;
    color: rgb(236, 229, 229);
    background-color: rgb(138, 50, 50);
    margin: auto;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;}

.r2main{
    color: rgb(236, 229, 229);
    text-align: center;
    margin: auto;
    font-size: 30px;
    width: 500px;
    border-bottom: 2px solid rgb(236, 229, 229);}

#r2buttonlink{
    color: rgb(236, 229, 229);
    display: inline-block;
    text-decoration: none;}

#r2nextbutton{
    background-color: rgb(138, 50, 50);
    width: 200px;
    padding: 20px;
    text-align: center;
    font-size: 50px;
    position: absolute;
    bottom: -960px;
    right: 530px;}
    
#r2buttonlink :hover{
    background-color: rgb(166, 89, 89);}
    
.r2sidebar{
     list-style-type: none;
     position: absolute;
    top: 230px;
    right:20px;
    margin: 10px;} 

.r2links{
    display: block;
    color: rgb(236, 229, 229);
    background-color: rgb(138, 50, 50);
    font-size: 30px;
    padding: 20px;
    border-left: 2px solid rgb(236, 229, 229);
    text-decoration: none;} 

.r2sidebar li :hover{
    background-color: rgb(166, 89, 89);}